.button {
    color: rgb(105, 74, 189);
    border: 2px solid rgb(105, 74, 189);
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
}

button:active,
button:hover,
.activeButton {
    background-color: rgb(105, 74, 189);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
}